* {
    margin: 0;
    padding: 0;
    overflow:hidden;
  }
body{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0%;
}

.frow {
    height: 420px;
    background:url("https://miro.medium.com/max/1000/1*teDil2L5DxLMRz76eFhyhg.png") no-repeat;
    background-size: 100%;


}
.header {
    left: 15%;
    top:170px;
    font-size: 42px;
    color: wheat;
    position: relative;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: red;
}
.pct{
    height: 400px;
    width: 700px;
  }
.ctb {
    text-align: center;
}
#go {
    position: relative;
    top:45%;
    color:white;
    border-radius:30px;
}
.obs {
    width: 100%;
    height: 450px;
    background: black
}
.myPic{
    float:left;
    margin-top: 10px;
    margin-left: 20px;
    height: 95%;
    width: 10%;
}

.txt{
    position: relative;
    top:120px;
    color:whitesmoke;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: red;
}










