body {
  font: 32px "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  text-align: left;
  padding: 0;
  margin: 0;
}

.t{
  float:left;
  height: 400px;
  width: 250px;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1.2s ease-out; 
}
.imgVis{
  opacity: 1;
  transform: translate(440px);
}

.header {
  text-align: right;
  opacity: 0;
  transform: translateX(0px);
  transition: all 1.2s ease-out;
}

.headerVisible {
  text-align: right;
  opacity: 1;  
  transition-delay: 0.25s;
  transform: translate(-550px);
  
  
}




.section {
  padding: 200px;
}

.section-blue {
  background-color: #1267fb;
  color: #fff;
}

.section-black {
  background-color: #000;
  color: #fff;
}
